.maincomment {
    Color: white;
    gap: 2%;
   
}


.commentsection {
    Color: white;
      gap: 2%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      border: 2px solid yellow;
    }
.commentform {
     margin: auto;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    border: 0.5px solid RGBA(255,255,255,0.18);
    gap: 2%;

}
.commentform input, .commentform textarea {
    margin-bottom: 2%;
}
.comments {
    width: 20%  ;
    height: 30%;
    border: 2px solid yellow;
}