.main-content {
    margin: 0 auto;
    min-height: 110vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}
.box1, .box2, .box3 {
    min-height: 20%;
    gap: 2%;
    align-items: center;
    width: 30%;
justify-content: space-between;
}
button a {
    color: white;
}