.users {
    margin: auto;
}

.user-output {
    margin: 0 auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 90%;
    color: white;
}

.Data {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 6%;
    margin-bottom: 2%;
}
.Edits {
display: flex;
justify-content: start;
gap: 3%;
height: 30px;
}

.updateBtn, .delBtn {
    width: 100px;
    height: 30px;
}
.rows {
    font-weight: 400;
    display: flex;
    gap: 10%;
    margin-left: 2%;
}
.role{
    margin-left: 4%;
}